# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

####
**/calculator_mvc/**/doc/api/
**/calculator_mvc/**/ios/Flutter/.last_build_id
**/calculator_mvc/.dart_tool/
**/calculator_mvc/.flutter-plugins
**/calculator_mvc/.flutter-plugins-dependencies
**/calculator_mvc/.pub-cache/
**/calculator_mvc/.pub/
**/calculator_mvc/build/

# Symbolication related
**/calculator_mvc/app.*.symbols

# Obfuscation related
**/calculator_mvc/app.*.map.json

# Android Studio will place build artifacts here
**/calculator_mvc/android/app/debug
**/calculator_mvc/android/app/profile
**/calculator_mvc/android/app/release